 <div class="container">
     <a routerLink="/home" title="home">Home</a>
    <ul class="conList">
        <li class="tel"><a href="tel:" title="Telephone Us"><span class="fIcon-phone"></span> Telephone number here</a></li>
        <li class="email"><a href="mailto:" title="Email Us"><span class="fIcon-email"></span> Email Us</a></li>
        <li class="chat"><a href="#" data-toggle="modalWin" data-target=".modalWin" title="Make an Enquiry"><span class="fIcon-chat"></span> Make an Enquiry</a></li>
    </ul>
    <a href="" id="siteLogo"><!--<img [src]="images/logo.png" alt="Brookside Southern">--></a>
    <h2>Mechanical &amp; Electrical Engineers</h2>
</div> 